<md-card>
    <md-card-content>
        <div layout="row" >
            <div flex="20" layout="column" layout-align="center center">
                <img class="img-circle" src="../../../images/a3.jpg" />
                <md-button class="md-raised md-primary">Editar</md-button>
            </div>
            <div flex>
                <md-card>
                    <md-toolbar class="md-fab-toolbar-background">
                        <h1 class="md-toolbar-tools">
                            <span>Mi perfil</span>
                        </h1>
                    </md-toolbar>
                    <md-card-content>
                        <div layout="row" flex>
                            <div ng-show="editValue" flex="40">
                                <h3>Nombre</h3>
                                <input class="form-control md-input" ng-model="infoUsuario.Nombre" placeholder="{{infoUsuario.Nombre}}" required />
                            </div>
                            <h3>Nombre</h3>
                            <h4>{{infoUsuario.Nombre}}</h4>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row" flex>
                            <div ng-show="editValue" flex="40">
                                <h3>Apellido</h3>
                                <input class="form-control md-input" ng-model="infoUsuario.Apellido" placeholder="{{infoUsuario.Apellido}}" required />
                            </div>
                            <h3>Apellido</h3>
                            <h4>{{infoUsuario.Apellido}}</h4>

                        </div>
                        <md-divider></md-divider>
                        <div layout="row" flex>
                            <div ng-show="editValue" flex="40">
                                <h3>Telefono</h3>
                                <input class="form-control md-input" ng-model="infoUsuario.Telefono" placeholder="{{infoUsuario.Telefono}}" required />
                            </div>
                            <h3>Telefono</h3>
                            <h4>{{infoUsuario.Telefono}}</h4>

                        </div>
                        <md-divider></md-divider>
                        <div layout="row" flex>
                            <div ng-show="editValue" flex="40">
                                <h3>Email</h3>
                                <input class="form-control md-input" ng-model="infoUsuario.Email" placeholder="{{infoUsuario.Email}}" required />
                            </div>
                            <h3>Email</h3>
                            <h4>{{infoUsuario.Email}}</h4>

                        </div>
                        <div layout="row" flex layout-align="end end">
                            <md-button label="Agregar empleado" ng-click="edit()" ng-hide="editValue" class="md-raised md-warn">Editar</md-button>
                            <md-button label="Guardar Cambios" ng-click="save(infoUsuario)" ng-show="editValue" class="md-raised md-primary">Guardar</md-button>
                            <md-button label="Cancelar" ng-click="cancel(infoUsuario.Id)" ng-show="editValue" class="md-raised md-warn">Cancelar</md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>        
        </div>
    </md-card-content>
</md-card>
