<div layout="column" layout-margin layout-fill layout-padding>
    <div layout="row" layout-align="center center" flex>
        <div div flex="50" layout-align="center center" layout="column">
            <img src="../../../images/a10.jpg" class="img-circle" alt="" />
        </div>
    </div>
</div>

<section>
    <div layout="row" layout-align="center center" flex>
        <div flex="70">
            <div layout="row">
                <div flex>
                    <h2>Nombre y apellido: {{empleado.NombreApellido}}</h2>
                </div>

            </div>

            <div layout="row">
                <div flex="50">
                    <h3>Dni: {{empleado.Dni}}</h3>
                </div>
                <div flex="50">
                    <h3>Cuil: {{empleado.Cuil}}</h3>
                </div>
            </div>

            <div layout="row">
                <div flex="50">
                    <h3>
                        Fecha de nacimiento: {{empleado.FechaDeNacimiento}}
                    </h3>
                </div>
            </div>

            <div layout="row">
                <div flex>
                    <h3>Direccion: {{empleado.Direccion}}</h3>
                </div>
            </div>

            <div layout="row">
                <div flex="50">
                    <h3>Email: {{empleado.Email}}</h3>
                </div>
                <div flex="50">
                    <h3>Telefono: {{empleado.Telefono}}</h3>
                </div>
            </div>
            <div layout="row">
                <!--<star-rating ng-model="rating.rating1" max="10" on-rating-select="rating.rateFunction(rating)">-->
            </div>
            <div layout="column" layout-align="start end">
                <md-button class="md-raised md-warn">Calificar</md-button>
            </div>
        </div>


    </div>


</section>

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="../../../../Content/photo.jpg" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{infoEmpleado.NombreApellido}}
                    </div>
                    <div class="profile-usertitle-job">
                        Developer
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Account Settings
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Tasks
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-3">
                            <!--<label class="control-label col-lg-3">CUE</label>
                <div class="input-group col-lg-8">
                    <input ng-model="escuela.CUE" class="form-control" type="text" data-mask="999999999" required>
                </div>-->
                            <label>Dni</label>
                            <input type="text" ng-model="infoEmpleado.Dni" class="form-control" required />
                        </div>
                        <div class="col-lg-9">
                            <!--<label class="control-label col-lg-2">Nombre</label>
                <div class="input-group col-lg-10">
                    <input ng-model="escuela.Nombre" class="form-control" type="text" required>
                </div>-->
                            <label>Cuil</label>
                            <input type="text" ng-model="infoEmpleado.Cuil" class="form-control" required />
                        </div>
                    </div>                 
                    <div class="form-group">
                        <div>
                            <label>Nombrey Apellido</label>
                            <input type="text" ng-model="infoEmpleado.NombreApellido" class="form-control" />

                        </div>
                        <div>

                            <label>Dirección</label>
                            <input type="text" ng-model="infoEmpleado.Direccion" class="form-control" required />

                        </div>

                        <div>

                            <label>Telefono</label>
                            <input type="text" ng-model="infoEmpleado.Telefono" class="form-control" required />

                        </div>

                        <!--<div>
                            <label>Fecha de Nacimiento</label>
                            <input class="form-control" type="date" ng-model="infoEmpleado.FecNacimiento">
                        </div>-->

                        <div>
                            <label>Correo electronico</label>
                            <input type="email" ng-model="infoEmpleado.Email" class="form-control" required />
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
<br />