<div layout="row" layout-sm="column" flex>
    <div flex="50" flex-sm="100" flex-md="100">
        <md-card>
            <md-card-content>
                <md-toolbar>
                    <h2 class="md-toolbar-tools">
                        Indica en que rubro/s querés trabajar
                    </h2>
                </md-toolbar>
                <div layout="row" layout-sm="column" layout-md="column">
                    <div flex="30" flex-sm="100" flex-md="100">
                        <md-input-container style="margin-right: 10px;">
                            <md-select placeholder="Seleccionar Rubro" ng-model="rubroSelect">
                                <md-option ng-value="rubro" ng-repeat="rubro in rubros">{{ rubro.Nombre }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div flex="50" flex-sm="100" flex-md="100">
                        <md-input-container>
                            <md-select multiple placeholder="Seleccionar Subrubros" ng-model="subrubrosSelect">
                                <!--<md-select-label>{{ subrubrosSelect.length ? subrubrosSelect.join(', ') : 'Choose some' }}</md-select-label>-->
                                <md-optgroup label="Subrubros">
                                    <md-option ng-value="sub" ng-repeat="sub in rubroSelect.SubRubros">{{ sub.Nombre }}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>

                </div>
                <div layout="row" flex layout-align="end end">
                    <md-button label="Agregar Rubro/Subrubro" class="md-raised md-warn" ng-click="AddRubro()">Agregar</md-button>
                </div>

                <md-list ng-repeat="rubroG in rubroGuardar">
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text" layout="column">
                            <h2>{{rubroG.rNombre}}</h2>
                            <div ng-repeat="subrubroG in rubroG.subRubro">
                                <ul>
                                    <li>
                                        <h3>{{subrubroG.Nombre}}</h3>
                                    </li>
                                </ul>
                                <!--subrubrosSelect.length ? subrubrosSelect.join(', ') : 'Choose some'-->
                            </div>
                        </div>
                        <div layout="column" layout-align="end end">
                            <md-button label="Eliminar" class="md-warn" ng-click="RubroDel(rubroG)">Eliminar</md-button>
                        </div>

                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-card-content>
        </md-card>
    </div>

    <div flex="50" flex-sm="100" flex-md="100">
        <md-card>
            <md-card-content>
                <md-toolbar>
                    <h2 class="md-toolbar-tools">
                        Indica tus habilidades
                    </h2>
                </md-toolbar>
                <div layout="row" layout-sm="column" layout-md="column">
                    <div flex="40" flex-sm="100" flex-md="100">
                        <md-input-container class="md-default-theme md-input-invalid">
                            <label>Ingresa tu habilidad</label>

                            <input type="text" ng-model="empleado.habilidadNombre" class="form-control" />
                        </md-input-container>
                    </div>
                    <div flex="40" flex-sm="100" flex-md="100">
                        <md-input-container style="margin-right: 10px;">
                            <md-select placeholder="Nivel" ng-model="empleado.habilidadNivel">
                                <md-option ng-value="nivelHabilidad" ng-repeat="nivelHabilidad in nivelesHabilidades">{{ nivelHabilidad }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                </div>
                <div layout="row" flex layout-align="end end">
                    <md-button label="Agregar Habilidad" class="md-raised md-warn" ng-click="AddHabilidad()">Agregar</md-button>
                </div>
                <md-list ng-repeat="habilidad in HabilidadesList">
                    <md-list-item class="md-3-line" layout="row">
                        <div class="md-list-item-text" layout="column">
                            <h2>{{habilidad.habilidadNombre}}</h2>
                            <ul>
                                <li>
                                    <h3>{{habilidad.habilidadRango}}</h3>
                                </li>
                            </ul>
                        </div>
                        <div layout="column" layout-align="end end">
                            <md-button label="Eliminar" class="md-warn" ng-click="habilidadesDel(habilidad)">Eliminar</md-button>
                        </div>                    
                    </md-list-item>
                    
                    <md-divider></md-divider>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>

<div layout="row" >
    <div flex="40" flex-sm="100" flex-md="100">
        <md-card>
            <md-card-content>
                <md-toolbar>
                    <h2 class="md-toolbar-tools">
                        ¿Qué Idiomas hablas?
                    </h2>
                </md-toolbar>
                <div layout="row" layout-sm="column" layout-md="column">
                    <div flex="40" flex-sm="100" flex-md="100">
                        <md-input-container style="margin-right: 10px;">
                            <md-select placeholder="Seleccionar Idioma" ng-model="empleado.idiomaNombre">
                                <md-option ng-value="idioma" ng-repeat="idioma in idiomas">{{ idioma }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div flex="40" flex-sm="100" flex-md="100">
                        <md-input-container>
                            <md-select ng-model="empleado.idiomaNivel" placeholder="Nivel">
                                <!--<md-select-label>{{ subrubrosSelect.length ? subrubrosSelect.join(', ') : 'Choose some' }}</md-select-label>-->
                                <md-optgroup label="Nivel">
                                    <md-option ng-value="nivel" ng-repeat="nivel in niveles">{{ nivel }}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" flex layout-align="end end">
                        <md-button label="Agregar Idioma" class="md-raised md-warn" ng-click="AddIdioma()">Agregar</md-button>
                    </div>
                </div>
                <div layout="column">
                    <md-list ng-repeat="idioma in idiomasList">
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text" layout="column">
                                <h2>{{idioma.idiomaNombre}}</h2>
                                <ul>
                                    <li>
                                        <h3>{{idioma.idiomaNivel}}</h3>
                                    </li>
                                </ul>
                            </div>

                            <div layout="row" layout-align="end end">
                                <md-button label="Eliminar" class="md-warn" ng-click="idomasDel(idioma)">Eliminar</md-button>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </div>

                </md-card-conten>
        </md-card>
    </div>
</div>

<div layout="row">
    <div flex="70" flex-sm="100" flex-md="100">
        <md-card>
            <md-card-content>
                <md-toolbar>
                    <h2 class="md-toolbar-tools">
                        En donde trabajaste?
                    </h2>
                </md-toolbar>
                </md-card-conten>
        </md-card>
    </div>
</div>
