<div layout="row" flex flex-sm>

        <div flex>
            <md-card>
                <md-card-content>
                    <div layout="row">

                        <div layout="row" flex="50">
                            <div class="md-2-line">
                                <h3>Dni</h3>
                                
                                <h4>{{infoEmpleado.Dni}}</h4>
                            </div>
                        </div>
                        <div layout="row" flex="50">
                            <div class="md-2-line">
                                <h3>Cuil</h3>
                                <h4>{{infoEmpleado.Cuil}}</h4>
                            </div>
                        </div>

                    </div>
                    <div layout="row">
                        <div layout="row" flex="50">
                            <div class="md-2-line">
                                <h3>Direccion</h3>
                                <h4>{{infoEmpleado.Direccion}}</h4>
                            </div>
                        </div>
                    </div>

                    <div layout="row" flex="30">
                        <div class="md-2-line">
                            <h3>Fecha de nacimiento</h3>
                            <h4>{{infoEmpleado.FecNacimiento}}</h4>
                        </div>
                    </div>

                    

                </md-card-content>
            </md-card>         
</div>  

</div>
