<div layout="row" flex flex-sm>

    <div flex>
        <md-card>
            <md-card-content>
                <div layout="row" flex>
                    <div ng-show="editValue" flex="40">
                        <h3>Telefono</h3>
                        <input class="form-control md-input" ng-model="infoEmpleado.Telefono" placeholder="{{infoEmpleado.Telefono}}" required />
                    </div>
                   
                    <div class="md-2-line" ng-hide="editValue">
                        <h3>Telefono</h3>
                        <h4>{{infoEmpleado.Telefono}}</h4>
                    </div>
                </div>
                <div layout="row" flex>
                    <div ng-show="editValue" flex="40">
                        <h3>Email</h3>
                        <input class="form-control md-input" ng-model="infoEmpleado.Email" placeholder="{{infoEmpleado.Email}}" required />
                    </div>
                    <div class="md-2-line" ng-hide="editValue">
                        <h3>Email</h3>
                        <h4>{{infoEmpleado.Email}}</h4>
                    </div>

                </div>

                <div layout="row" flex>
                    <div class="md-2-line">
                        <h3>Facebook</h3>
                        <h4>{{infoEmpleado.NombreApellido}}</h4>
                    </div>
                </div>

                <div layout="row" flex>
                    <div class="md-2-line">
                        <h3>LinkedIn</h3>
                        <h4></h4>
                    </div>
                </div>

                <div layout="row" flex layout-align="end end">
                    <md-button label="Agregar empleado" ng-click="edit()" ng-hide="editValue" class="md-raised md-warn">Editar</md-button>
                    <md-button label="Guardar Cambios" ng-click="save(infoEmpleado.Id, infoEmpleado)" ng-show="editValue" class="md-raised md-primary">Guardar</md-button>              
                    <md-button label="Cancelar" ng-click="cancel({empleadoId: infoEmpleado.Id})" ng-show="editValue" class="md-raised md-warn">Cancelar</md-button>
                </div>
                
                <!--<button mfb-menu position="end end" effect="zoomin" label="Herramientas"
                     active-icon="mdi-content-clear" resting-icon="mdi-content-add"
                     toggling-method="hover">
                    
                    <button mfb-button icon="mdi-action-assignment-returned" label="Volver al listado" ui-sref="empleado.list"></button>
                </button>-->
            </md-card-content>
        </md-card>

    </div>
    
    

</div>

