<div layout="row" flex flex-sm>

    <div flex>
        <md-card>
            <md-card-content>
                <div layout="row" flex>

                    <div class="md-2-line">
                        <h3>Telefono</h3>
                        <h4>{{infoEmpleado.Telefono}}</h4>
                    </div>
                </div>
                <div layout="row" flex>

                    <div class="md-2-line">
                        <h3>Email</h3>
                        <h4>{{infoEmpleado.Email}}</h4>
                    </div>

                </div>

                <div layout="row" flex>
                    <div class="md-2-line">
                        <h3>Facebook</h3>
                        <h4>{{infoEmpleado.NombreApellido}}</h4>
                    </div>
                </div>

                <div layout="row" flex>
                    <div class="md-2-line">
                        <h3>LinkedIn</h3>
                        <h4></h4>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

</div>

