<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="../../../../Content/companyLogo.png" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{infoEmpleador.Rsocial}}
                    </div>
                    <div class="profile-usertitle-job">
                        Developer
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Account Settings
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Tasks
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <form class="form-horizontal">
                    <div class="form-group">                        
                        <div class="col-lg-9">                            
                            <label>Cuil</label>
                            <input type="text" ng-model="infoEmpleador.Cuit" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">                        
                        <div>

                            <label>Dirección</label>
                            <input type="text" ng-model="infoEmpleador.Dir" class="form-control" required />

                        </div>

                        <div>

                            <label>Telefono</label>
                            <input type="text" ng-model="infoEmpleador.Tel" class="form-control" required />

                        </div>
                        <div>
                            <label>Correo electronico</label>
                            <input type="email" ng-model="infoEmpleador.Mail" class="form-control" required />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />