<div layout="column" class="relative" layout-fill role="main" style="position:relative">
    <!--#region Boton flotante-->
    <div layout="row" layout-align="star center">
        <nav mfb-menu position="br" effect="zoomin" label="Herramientas"
             active-icon="mdi-content-clear" resting-icon="mdi-content-add"
             toggling-method="hover">
            <button mfb-button icon="mdi-social-person-add" label="Agregar Puestos"></button>
            <button mfb-button icon="mdi-image-edit" label="Editar Oferta"></button>
            <button mfb-button icon="mdi-content-save" label="Guardar Cambios"></button>
            <button mfb-button icon="mdi-action-delete" label="Eliminar Oferta"></button>
        </nav>
    </div>
    <!--#endregion-->
    <!--#region Panel de resultados-->
    <md-content style="background-color:#eee" flex>
        <div layout="row" layout-fill layout-padding>
            <md-card flex="30">
                <md-card-content layout="column" layout-align="center center">
                    <md-button class="inline-block animate-show" layout="row" flex>
                        <div class="md-media-xl card-media rounded">
                            <!--iafar:Aqui se puede poner una imagen-->
                            <ng-md-icon icon="business" style="fill: #abcdef" size="200"></ng-md-icon>
                        </div>
                    </md-button>
                    <span class="md-headline">Razon social {{infoEmpleador.Rsocial}}</span>
                    <span class="md-subhead">Rubro {{infoEmpleador.Subrubro}}</span>
                </md-card-content>
            </md-card>
            <md-card flex>
                <!--#region Datos de empleador-->
                <md-content layout="row">
                    <md-input-container layout="row" layout-align="center end" flex="30">
                        <ng-md-icon icon="perm_identity" size="35" style="fill:green"></ng-md-icon>
                        <div flex>
                            <label>Cuil</label>
                            <input ng-model="infoEmpleador.Cuit" type="text">
                        </div>
                    </md-input-container>
                    <md-input-container layout="row" layout-align="center end" flex>
                        <div flex>
                            <label>Razon Social</label>
                            <input ng-model="infoEmpleador.Rsocial" type="text">
                        </div>
                    </md-input-container>
                </md-content>
                <md-content>
                    <md-input-container layout="row" layout-align="center end" flex="30">
                        <ng-md-icon icon="place" size="35" style="fill:#000000"></ng-md-icon>
                        <div flex>
                            <label>Dirección</label>
                            <input ng-model="infoEmpleador.Dir" type="text">
                        </div>
                    </md-input-container>
                    <md-input-container layout="row" layout-align="center end" flex="30">
                        <ng-md-icon icon="local_phone" size="35" style="fill:darkblue"></ng-md-icon>
                        <div flex>
                            <label>Telefono</label>
                            <input ng-model="infoEmpleador.Tel" type="text">
                        </div>
                    </md-input-container>
                    <md-input-container layout="row" layout-align="center end" flex="30">
                        <ng-md-icon icon="email" size="35" style="fill:#808080"></ng-md-icon>
                        <div flex>
                            <label>Correo electronico</label>
                            <input ng-model="infoEmpleador.Mail" type="email" placeholder="Email (requerido)" ng-required="true">
                        </div>
                    </md-input-container>
                </md-content>
                <!--#endregion-->
            </md-card>


        </div>
    </md-content>
    <!--#endregion-->
</div>


