<md-dialog aria-label="Agregar puesto a la oferta" ng-cloak flex="100">        
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Agregar puesto a la oferta</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon class="fa fa-times"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                 
                <md-dialog-content style="min-width:800px;max-height:1810px; ">
                    <div class="md-dialog-content">
                        <div layout="row">
                            <div flex="50">
                                <md-input-container>
                                    <!--<h4>Nombre del puesto</h4>-->
                                    <label>Nombre del Puesto</label>

                                    <input type="text" class="mdi-editor-border-color form-control md-input" />
                                </md-input-container>
                            </div>

                            <div flex="30">
                                <md-input-container>
                                    <label>Cantidad</label>
                                    <input type="number" class="form-control md-input" />
                                </md-input-container>
                            </div>

                        </div>

                        <div layout="row">
                            <div flex="50">
                                <md-input-container>
                                    <label>Tipo de contratacion</label>
                                    <input type="text" class="form-control md-input" />
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="30">
                                <md-input-container style="margin-right: 10px;">

                                    <md-select placeholder="Seleccionar Rubro" ng-model="rubroSelect">
                                        <md-option ng-value="user" ng-repeat="rubro.Nombre for rubro in rubros"></md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div flex="30">
                                <md-input-container>

                                    <md-select placeholder="Seleccionar Sub-rubro" ng-model="oferta.subrubro">
                                        <md-option ng-value="user" ng-repeat="subrubro.nombre for subrubro in rubroSelect">

                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                        </div>

                        <div layout="row">
                            <div flex="70">
                                <md-input-container>
                                    <label>Habilidades Requeridas</label>
                                    <md-chips ng-model="oferta.Habilidades" readonly="oferta.readonly"></md-chips>
                                </md-input-container>
                           </div>
                        </div>

                        <div layout="row">

                            <div flex>
                                <md-input-container>
                                    <md-select placeholder="Nivel de estudios" ng-model="oferta.NivelDeEstudio">
                                        <md-option>Primario</md-option>
                                        <md-option>Secundario</md-option>
                                        <md-option>Terciario</md-option>
                                        <md-option>Universitario</md-option>
                                    </md-select>
                                    <label>Estado de estudio requerido (Finalizado/en curso/No es necesario)</label>
                                    <input type="text" ng-model="oferta.EstadoEstudio" />
                                </md-input-container>
                            </div>
                        </div>

                        <div layout="row">
                            <div flex="50">
                                <md-input-container>

                                    <label>Profesion</label>

                                    <input type="text" ng-model="oferta.profesion" class="form-control" />
                                </md-input-container>
                            </div>

                            <div flex="40">
                                <md-input-container>
                                    <label>Experiencia (años, meses...)</label>
                                    <input type="text" ng-model="oferta.experiencia" class="form-control" />
                                </md-input-container>
                            </div>

                        </div>

                        <div layout="row">
                            <div flex="50">
                                <md-input-container>
                                    <label>Remuneracion (opcional)</label>
                                    <input type="text" class="form-control md-input" />
                                </md-input-container>
                            </div>
                        </div>

                        
                    </div>
                    
                </md-dialog-content>
                <div layout="row">
                    <md-button class="md-raised md-primary" >Agregar</md-button>

                </div>
            </form>
    
</md-dialog>
<!--<div layout="row" layout-align="center center" flex="70">
    <h1>Nuevo Puesto</h1>
</div>-->
